<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contas Pagas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/style.css"/>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Contas Pagas</h1>

        <!-- Inclusão do Menu -->
        <%- include('menu') %>

        <h2>Total: R$<%= totalValores.toFixed(2).replace('.', ',') %></h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome da Conta</th>
                    <th>Vencimento</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <% if (contasPagas.length === 0) { %>
                    <tr><td colspan="3" class="text-center">Não há contas pagas.</td></tr>
                <% } else { %>
                    <% contasPagas.forEach(conta => { %>
                        <tr>
                            <td><%= conta.nome %></td>
                            <td><%= conta.vencimento %></td>
                            <td>R$<%= conta.valor.toFixed(2).replace('.', ',') %></td>
                        </tr>
                    <% }); %>
                <% } %>
            </tbody>
        </table>
    </div>

    <script src="../../public/js/index/script.js"></script>
    <script src="../../public/js/index/modal/script.js"></script>
</body>
</html>
